.foot {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  .copy {
    margin: 10px 0 30px;
    font: 400 14px/32px $font-primary;
  }
  .navigation {
    margin: 20px 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    a {
      padding: 0 20px;
      font: 400 16px/32px $font-content;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .foot {
    .copy {
      float: left;
    }
    .navigation {
      justify-content: flex-end;
    }
  }
}