.hero {
  position: relative;
  margin-top: 145px;
  background: url("../img/slider-bg.jpg") 50% 0 /cover no-repeat;
  overflow: hidden;
  color: #000;
  .slider {
    padding: 10px;
    margin-right: 5px;
  }
  .welcome {
    margin-bottom: 15px;
    h2 {
      display: inline-block;
      clear: both;
      margin-top: 10px;
      padding: 0 10px;
      background: $color-primary;
      font: 700 40px/60px $font-primary;
      text-transform: uppercase;
    }
  }
  .intro span {
    display: inline-block;
    margin-top: 1px;
    padding: 0 5px;
    background: $color-content;
    font: 400 18px/33px $font-primary;
    color: #fff;
  }
  .hero-img {
    width: 100%;
    img {
      width: 100%;
      margin: 20px 0 40px;
    }
  }
  .btn {
    margin: 20px auto;
  }
}

@media (min-width: 640px) {
  .hero {
    .welcome {
      width: 70%;
    }
    .intro {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .welcome {
      position: absolute;
      width: 9%;
      transform: translateY(22%);
    }
    .intro {
      position: absolute;
      width: 7%;
      margin-top: 160px;
      transform: translateY(30%);
    }
    .hero-img {
      float: right;
      width: 55%;
    }
    .btn {
      margin-top: 315px;
      margin-left: 150px;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    margin-top: 165px;
    .welcome {
      transform: translateY(35%);
      h2 {
        font-size: 50px;
        line-height: 75px;
      }
    }
    .intro {
      margin-top: 220px;
      transform: translateY(35%);
      span {
        font-size: 24px;
      }
    }
    .hero-img {
      width: 60%;
    }
    .btn {
      margin-top: 400px;
      margin-left: 150px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .welcome {
      transform: translateY(42%);
      h2 {
        font-size: 65px;
        line-height: 80px;
      }
    }
    .intro {
      margin-top: 230px;
      transform: translateY(42%);
    }
    .hero-img {
      width: 55%;
    }
    .btn {
      margin-top: 420px;
      margin-left: 270px;
    }
  }
}