.work {
  position: relative;
  padding-bottom: 80px;
  background: $color-bg;
  overflow: hidden;
  li {
    margin: 0 2px;
  }
  .isotope {width: 100%}
  .masonry {width: 24%}
  .masonry-2 {width: 48%}
  img {
    width: 100%;
  }
}


@media (min-width: 800px) {
  .work {
    .masonry {width: 16.1%}
    .masonry-2 {width: 32.7%}
  }
}

@media (min-width: 1000px) {
  .work {
    .masonry-2 {width: 32.6%}
  }
}


@media (min-width: 1300px) {
  .work {
    .masonry-2 {width: 32.5%}
  }
}