.section {
  padding: 50px 15px 80px;
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    border-top: 10vw solid transparent;
  }
}

.flex-content {
  display: flex;
}

.container {
  a {
  	text-decoration: none;
  }
}

.title {
  position: relative;
  text-align: center;
  font: 600 30px/72px $font-primary;
  text-transform: uppercase;
  &:after {
    position: absolute;
    content: '';
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 72px;
    border-bottom: 2px solid #d1d1d1;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 80px 15px 150px;
  }
}