@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v9cp4t');
  src:  url('../fonts/icomoon.eot?v9cp4t#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?v9cp4t') format('truetype'),
  url('../fonts/icomoon.woff?v9cp4t') format('woff'),
  url('../fonts/icomoon.svg?v9cp4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e901";
}
.icon-checked:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e903";
}
.icon-gear:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e905";
}
.icon-responsive:before {
  content: "\e906";
}
.icon-sand-clock:before {
  content: "\e907";
}
.icon-smartphone:before {
  content: "\e908";
}
.icon-window:before {
  content: "\e909";
}

