.about {
  position: relative;
  background: #ececec;
  overflow: hidden;
  &.section {
    &:after {
      border-right: 51vw solid #fff;
      border-left: 49vw solid #fff;
    }
  }
  ul {
    text-align: center;
    li {
      margin-top: 70px;
    }
    li:nth-child(even) {
      h3 {
        margin-top: 20px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  h3 {
    font: 600 20px/28px 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #333333;
  }
  p {
    margin: 20px 0;
    font: 400 14px/28px $font-primary;
    color: #6e6e6e;
  }
  i {
    display: block;
    width: 120px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    background-color: #ffcc00;
    padding: 40px;
    clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    color: #fff;
  }
}