.main-nav {
  position: relative;
  margin: 0;
  padding: 10px 0 25px;
  z-index: 1;
  .nav-btn {
    float: right;
    padding: 0;
    margin: 15px 15px 0 0;
    background: transparent;
    border: transparent;
    font-size: 23px;
    z-index: 10;
    &:focus {
      outline: none;
    }
  }
  .close-btn {
    color: #000;
  }
  .remove-btn {
    display: none;
  }
  ul {
    display: none;
    position: absolute;
    margin-top: -15px;
    width: 100%;
    background: #fff;
    text-align: center;
    z-index: -1;
    li {
      display: block;
    }
    li:hover, .active {
      background: #ffcc00;
    }
    a {
      display: block;
      padding: 10px 15px;
      font: 400 18px/24px $font-primary;
      color: #000;
      text-decoration: none;
    }
  }
}

@media (min-width: 460px) {
  .main-nav {
    .nav-btn {
      display: none;
    }
    ul {
      display: block;
      margin-top: 0;
      text-align: center;
      background: transparent;
      li {
        display: inline-block;
      }
      a {
        color: #fff;
      }
      li:hover, .active {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          padding-bottom: 20px;
          background: #ffcc00;
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        }
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          top: -10px;
          left: 0;
          border-bottom: 10px solid #ffcc00;
        }
      }
      a {
        padding: 10px 10px;
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    ul {
      a {
        padding: 10px 15px;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 992px) {
  .main-nav {
    ul {
      a {
        padding: 10px 20px;
      }
    }
  }
}