.projects {
  position: relative;
  &.section {
    padding-bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -10vw;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 10vw solid #fff;
    z-index: 10;
  }
  img {
    width: 100%;
  }
  .content-project {
    padding: 70px 15px;
    h3 {
      font: 600 20px/28px 'Raleway', sans-serif;
      text-transform: uppercase;
      color: #333333;
    }
    p {
      margin: 25px 0;
      font: 400 16px/28px $font-primary;
      color: #6e6e6e;
    }
    .btn-project {
      display: block;
      position: relative;
      padding-left: 15px;
      width: 90px;
      height: 27px;
      background: transparent;
      border: 1px solid #009aff;
      border-right: none;
      font: 400 12px/18px $font-primary;
      color: #009aff;
      &:after, &:before {
        content:'';
        position: absolute;
        right: -3px;
        top: 69.9%;
        background: transparent;
        width: 19px;
        height: 19px;
        margin-top: -21px;
        border-right: 1px solid #009aff;
        border-top: 1px solid #009aff;
        z-index: -1;
        transform: rotate(45deg) translateX(50%);
      }
    }
  }
}