.featured {
  @extend .destination;
  .country {
    .about-country {
      .number {
        width: 110px;
      }
      .marker {
        font-size: 16px;
      }
      .users {
        left: auto;
        right: 0;
        font-size: 16px;
      }
    }
    .boat-item {
      display: none;
    }
  }
}