.foot {
  background-color: #204359;
  overflow: hidden;
  color: #9ab3cc;
  .section {
    padding-bottom: 30px;
  }
  .title-foot {
    display: inline;
    padding-bottom: 7px;
    font: 600 12px/24px $font-primary;
    text-transform: uppercase;
    border-bottom: 1px solid #7eabc7;
    color: #fff;
  }
  .info {
    img {
      width: 179px;
    }
    p, address, a {
      display: block;
      margin: 15px 0;
      font: 400 14px/26px $font-primary;
      color: #9ab3cc;
    }
    address {
      margin-left: 23px;
    }
    i {
      display: inline-block;
      float: left;
      margin: 5px 10px 0 0;
      cursor: pointer;
    }
  }
  .nav-foot, .more-about {
    ul {
      margin-top: 15px;
      a {
        font: 400 14px/36px $font-primary;
        color: #9ab3cc;
      }
    }
  }
  .newsletter {
    p {
      margin: 20px 0;
      font: 400 14px/24px $font-extra;
    }
    .email-form {
      position: relative;
      .email {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 5px;
        background-color: #fff;
        border: none;
        font: italic 400 12px/30px $font-extra;
      }
      .email-btn {
        position: absolute;
        top: 0;
        right: -9px;
        padding: 10.5px 10px;
        font-size: 13px;
        background-color: #009bff;
        color: #fff;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    .social {
      a {
        padding: 6px;
        font-size: 14px;
        color: #94abc3;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .copy {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 25px;
    font: 400 11px $font-extra;
    text-transform: uppercase;
    border-top: 1px solid #4a627c;
    #up {
      position: absolute;
      display: block;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffcc00;
      width: 45px;
      height: 52px;
      padding: 15px 0;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
    }
  }
}

@media (min-width: 992px) {
  .foot {
    .newsletter {
      .email-form {
        .email {
          padding-left: 10px;
          font-size: 14px;
          line-height: 36px;
        }
        .email-btn {
          right: 0;
          padding: 11.5px 10px;
          font-size: 14px;
          border: none;
        }
      }
    }
  }
}