.flex-content {
  display: flex;
}

.container {
  a {
  	text-decoration: none;
  }
}
.title-wrap {
  margin: 0 auto;
  width: 170px;
  overflow: hidden;
  z-index: 10;
}

.title {
  text-align: center;
    h2 {
      display: block;
      width: 159px;
      height: 31px;
      margin: 0 auto;
      padding: 5px;
      background: $color-content;
      font: 400 18px/21px $font-primary;
      text-transform: uppercase;
      color: $color-primary;
      overflow: hidden;
    }
  p {
    width: 100%;
    margin: 25px 0 35px;
    font: 400 16px/21px $font-primary;
  }
}

h3 {

}

@media (min-width: 768px) {
  .title {
    h2 {
      &:after {
         content: '';
         position: absolute;
         right: 15px;
         top: 15px;
         width: 35%;
         border-bottom: 1px solid #cacaca;
         z-index: 0;
       }
      &:before {
        content: '';
        position: absolute;
        left: 15px;
        top: 15px;
        width: 35%;
        border-bottom: 1px solid #cacaca;
        z-index: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .title {
    h2 {
      &:after {
        width: 40%;
      }
      &:before {
        width: 40%;
      }
    }
  }
}