.btn {
  display: block;
  position: relative;
  width: 170px;
  height: 40px;
  border-radius: 0;
  border: none;
  background: #000;
  font: 400 20px $font-content;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    width: 170px;
    bottom: -1px;
    left: 0;
    border-bottom: 3px solid $color-primary;
  }
  &:hover, &.active-btn {
    outline: none;
    background-color: $color-primary;
   	color: #fff;
    &:after {
      border-bottom: 3px solid #000;
    }
  }
  &:focus {
    outline: none;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .btn {
    min-width: 191px;
    padding: 0;
    font-size: 24px;
    &:after {
      width: 191px;
    }
  }
}